# Pandas basic and Importing Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Object Creation
s = pd.Series([1,3,5,7,np.nan,9])
s

0    1.0
1    3.0
2    5.0
3    7.0
4    NaN
5    9.0
dtype: float64

In [3]:
dates = pd.date_range("20220101",periods=10)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

# Create a dataFrame with Pandas

In [4]:
df = pd.DataFrame(np.random.randn(10, 4),index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019

> Create data frame Via Dictionary

In [5]:
df_1 = pd.DataFrame(
    {
        "A":1.0,
        # "B":pd.Timestamp("20220101"),
        "B":pd.date_range("20220101",periods=4),
        # "C":pd.Series(list(range(4)),index=list(range(4)) ,dtype="float64"),
        "C":pd.Series(2,index=list(range(4)) ,dtype="float64"),
        "D":np.array([3] * 4,dtype="int32"),
        "E":pd.Categorical(["Teenage","Boy","Man","Oldman"]),
        "F":"Male"

    }
)
df_1

     A          B    C  D        E     F
0  1.0 2022-01-01  2.0  3  Teenage  Male
1  1.0 2022-01-02  2.0  3      Boy  Male
2  1.0 2022-01-03  2.0  3      Man  Male
3  1.0 2022-01-04  2.0  3   Oldman  Male

In [6]:
df_1.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

> Viewing the data First N rows

In [7]:
df.head(5)

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829

> Viewing the data last N rows

In [8]:
df.tail(5)

                   A         B         C         D
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019

- get index of DataFrame

In [9]:
df_1.index

Int64Index([0, 1, 2, 3], dtype='int64')

- Convert DataFrame to Numpy array

In [10]:
df.to_numpy()

array([[ 1.06637826e-01, -2.25310837e-01, -7.13243882e-01,
         4.60247379e-01],
       [-5.37024248e-02, -2.18374522e+00,  9.03487177e-01,
        -1.61704923e+00],
       [ 2.06212909e-01, -8.58193599e-01, -1.44986582e+00,
        -2.52089043e-01],
       [-5.50778644e-01,  5.10972158e-02,  1.85565278e-01,
        -7.60471339e-01],
       [ 5.92489524e-01, -6.04579927e-01, -1.18036987e+00,
         1.82890669e-03],
       [ 1.50937133e+00, -4.93017153e-01, -9.64426067e-01,
         4.36750596e-01],
       [ 5.90317551e-01,  1.49499735e+00, -1.62296687e+00,
         1.23283722e+00],
       [ 8.00911354e-01, -1.81609289e+00, -5.61189317e-01,
         1.43323403e+00],
       [ 2.78476818e-01, -5.32994212e-01, -1.92370822e-01,
        -7.80920640e-02],
       [ 4.63481823e-01,  2.84555982e-01, -1.03020837e+00,
         4.05018938e-01]])

- Get Mean Median of DataFrame

In [11]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.394342  -0.488328  -0.662559   0.126222
std     0.549406   1.037134   0.777631   0.897166
min    -0.550779  -2.183745  -1.622967  -1.617049
25%     0.131532  -0.794790  -1.142829  -0.208590
50%     0.370979  -0.513006  -0.838835   0.203424
75%     0.591947  -0.018005  -0.284575   0.454373
max     1.509371   1.494997   0.903487   1.433234

- Transposing DataFrame

In [12]:
df.T

,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,2022-01-09,2022-01-10
A,0.106638,-0.053702,0.206213,-0.550779,0.592490,1.509371,0.590318,0.800911,0.278477,0.463482
B,-0.225311,-2.183745,-0.858194,0.051097,-0.604580,-0.493017,1.494997,-1.816093,-0.532994,0.284556
C,-0.713244,0.903487,-1.449866,0.185565,-1.180370,-0.964426,-1.622967,-0.561189,-0.192371,-1.030208
D,0.460247,-1.617049,-0.252089,-0.760471,0.001829,0.436751,1.232837,1.433234,-0.078092,0.405019

- Sorting The DataFrame

In [13]:
df

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019

In [18]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019

In [19]:
df.sort_values(by='B')

                   A         B         C         D
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-10  0.463482  0.284556 -1.030208  0.405019
2022-01-07  0.590318  1.494997 -1.622967  1.232837

- Selecting a Particular Column or Rows

In [20]:
df['A']

2022-01-01    0.106638
2022-01-02   -0.053702
2022-01-03    0.206213
2022-01-04   -0.550779
2022-01-05    0.592490
2022-01-06    1.509371
2022-01-07    0.590318
2022-01-08    0.800911
2022-01-09    0.278477
2022-01-10    0.463482
Freq: D, Name: A, dtype: float64

In [23]:
df[0:3]

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089

# Filtering data

In [22]:
df.loc[dates[2]] # row wise slicing

A    0.206213
B   -0.858194
C   -1.449866
D   -0.252089
Name: 2022-01-03 00:00:00, dtype: float64

- Getting data of Particular column with Particular rows

In [28]:
df.loc[:,["A", "B"]] #Column wise

                   A         B
2022-01-03  0.206213 -0.858194
2022-01-04 -0.550779  0.051097
2022-01-05  0.592490 -0.604580
2022-01-06  1.509371 -0.493017
2022-01-07  0.590318  1.494997
2022-01-08  0.800911 -1.816093
2022-01-09  0.278477 -0.532994
2022-01-10  0.463482  0.284556

In [31]:
df.loc["2022-01-03":"2022-01-04":,["A", "B"]]

                   A         B
2022-01-03  0.206213 -0.858194
2022-01-04 -0.550779  0.051097

In [33]:
df.loc["2022-01-03":"2022-01-04":,["A", "B","C"]]

                   A         B         C
2022-01-03  0.206213 -0.858194 -1.449866
2022-01-04 -0.550779  0.051097  0.185565

In [36]:
df.loc["2022-01-04":,["A", "B","C"]]

                   A         B         C
2022-01-04 -0.550779  0.051097  0.185565
2022-01-05  0.592490 -0.604580 -1.180370
2022-01-06  1.509371 -0.493017 -0.964426
2022-01-07  0.590318  1.494997 -1.622967
2022-01-08  0.800911 -1.816093 -0.561189
2022-01-09  0.278477 -0.532994 -0.192371
2022-01-10  0.463482  0.284556 -1.030208

In [37]:
df.loc[dates[2]:,["A", "B","C"]]

                   A         B         C
2022-01-03  0.206213 -0.858194 -1.449866
2022-01-04 -0.550779  0.051097  0.185565
2022-01-05  0.592490 -0.604580 -1.180370
2022-01-06  1.509371 -0.493017 -0.964426
2022-01-07  0.590318  1.494997 -1.622967
2022-01-08  0.800911 -1.816093 -0.561189
2022-01-09  0.278477 -0.532994 -0.192371
2022-01-10  0.463482  0.284556 -1.030208

# Get Value at Certain row and Column

In [38]:
df.at[dates[1],"C"]

0.9034871770317171

# Get Value at Certain posiion

In [39]:
df.iloc[3]

A   -0.550779
B    0.051097
C    0.185565
D   -0.760471
Name: 2022-01-04 00:00:00, dtype: float64

In [41]:
df.iloc[0:3]

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089

In [43]:
df.iloc[0:4, 0:3]

                   A         B         C
2022-01-01  0.106638 -0.225311 -0.713244
2022-01-02 -0.053702 -2.183745  0.903487
2022-01-03  0.206213 -0.858194 -1.449866
2022-01-04 -0.550779  0.051097  0.185565

# Boolean : Filter data on Condition

In [46]:
df[df['A']>0.5]

                   A         B         C         D
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234

In [52]:
df[df['A']>0.5 , df['B']<0.5 ]

InvalidIndexError: (2022-01-01    False
2022-01-02    False
2022-01-03    False
2022-01-04    False
2022-01-05     True
2022-01-06     True
2022-01-07     True
2022-01-08     True
2022-01-09    False
2022-01-10    False
Freq: D, Name: A, dtype: bool, 2022-01-01     True
2022-01-02     True
2022-01-03     True
2022-01-04     True
2022-01-05     True
2022-01-06     True
2022-01-07    False
2022-01-08     True
2022-01-09     True
2022-01-10     True
Freq: D, Name: B, dtype: bool)

In [53]:
df[df>0.8]

                   A         B         C         D
2022-01-01       NaN       NaN       NaN       NaN
2022-01-02       NaN       NaN  0.903487       NaN
2022-01-03       NaN       NaN       NaN       NaN
2022-01-04       NaN       NaN       NaN       NaN
2022-01-05       NaN       NaN       NaN       NaN
2022-01-06  1.509371       NaN       NaN       NaN
2022-01-07       NaN  1.494997       NaN  1.232837
2022-01-08  0.800911       NaN       NaN  1.433234
2022-01-09       NaN       NaN       NaN       NaN
2022-01-10       NaN       NaN       NaN       NaN

# Copy Data Set

In [82]:
df_2 =df.copy()
df_2

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019

In [84]:
df_2["Mean"]= df_2.mean(axis=1)
df_2

                   A         B         C         D      Mean
2022-01-01  0.106638 -0.225311 -0.713244  0.460247 -0.092917
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049 -0.737752
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089 -0.588484
2022-01-04 -0.550779  0.051097  0.185565 -0.760471 -0.268647
2022-01-05  0.592490 -0.604580 -1.180370  0.001829 -0.297658
2022-01-06  1.509371 -0.493017 -0.964426  0.436751  0.122170
2022-01-07  0.590318  1.494997 -1.622967  1.232837  0.423796
2022-01-08  0.800911 -1.816093 -0.561189  1.433234 -0.035784
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092 -0.131245
2022-01-10  0.463482  0.284556 -1.030208  0.405019  0.030712

In [85]:
df_2["E"]=["one", "two","three","four","five","six","seven","eight","nine","ten"]
df_2

                   A         B         C         D      Mean      E
2022-01-01  0.106638 -0.225311 -0.713244  0.460247 -0.092917    one
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049 -0.737752    two
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089 -0.588484  three
2022-01-04 -0.550779  0.051097  0.185565 -0.760471 -0.268647   four
2022-01-05  0.592490 -0.604580 -1.180370  0.001829 -0.297658   five
2022-01-06  1.509371 -0.493017 -0.964426  0.436751  0.122170    six
2022-01-07  0.590318  1.494997 -1.622967  1.232837  0.423796  seven
2022-01-08  0.800911 -1.816093 -0.561189  1.433234 -0.035784  eight
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092 -0.131245   nine
2022-01-10  0.463482  0.284556 -1.030208  0.405019  0.030712    ten

# Cheack Same Value b/w DataFrame

In [86]:
df_2.isin(df)

               A     B     C     D   Mean      E
2022-01-01  True  True  True  True  False  False
2022-01-02  True  True  True  True  False  False
2022-01-03  True  True  True  True  False  False
2022-01-04  True  True  True  True  False  False
2022-01-05  True  True  True  True  False  False
2022-01-06  True  True  True  True  False  False
2022-01-07  True  True  True  True  False  False
2022-01-08  True  True  True  True  False  False
2022-01-09  True  True  True  True  False  False
2022-01-10  True  True  True  True  False  False

In [87]:
df.isin(df_2)

               A     B     C     D
2022-01-01  True  True  True  True
2022-01-02  True  True  True  True
2022-01-03  True  True  True  True
2022-01-04  True  True  True  True
2022-01-05  True  True  True  True
2022-01-06  True  True  True  True
2022-01-07  True  True  True  True
2022-01-08  True  True  True  True
2022-01-09  True  True  True  True
2022-01-10  True  True  True  True

In [88]:
df_2

                   A         B         C         D      Mean      E
2022-01-01  0.106638 -0.225311 -0.713244  0.460247 -0.092917    one
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049 -0.737752    two
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089 -0.588484  three
2022-01-04 -0.550779  0.051097  0.185565 -0.760471 -0.268647   four
2022-01-05  0.592490 -0.604580 -1.180370  0.001829 -0.297658   five
2022-01-06  1.509371 -0.493017 -0.964426  0.436751  0.122170    six
2022-01-07  0.590318  1.494997 -1.622967  1.232837  0.423796  seven
2022-01-08  0.800911 -1.816093 -0.561189  1.433234 -0.035784  eight
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092 -0.131245   nine
2022-01-10  0.463482  0.284556 -1.030208  0.405019  0.030712    ten

                   A         B         C         D
2022-01-01  0.106638 -0.225311 -0.713244  0.460247
2022-01-02 -0.053702 -2.183745  0.903487 -1.617049
2022-01-03  0.206213 -0.858194 -1.449866 -0.252089
2022-01-04 -0.550779  0.051097  0.185565 -0.760471
2022-01-05  0.592490 -0.604580 -1.180370  0.001829
2022-01-06  1.509371 -0.493017 -0.964426  0.436751
2022-01-07  0.590318  1.494997 -1.622967  1.232837
2022-01-08  0.800911 -1.816093 -0.561189  1.433234
2022-01-09  0.278477 -0.532994 -0.192371 -0.078092
2022-01-10  0.463482  0.284556 -1.030208  0.405019